a.anchor.anchor__a
{
  display: inline-block;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5);
  min-height: 0;
  padding: 0;
}
a.anchor.anchor__a.anchor__a_dropdown
{
}
img.anchor.anchor__img.anchor__img_dropdown
{
  margin-left: 6px;
}
