a.uk-button.uk-button-default.button__inner {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;

  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 22px;
}

div.button__outer {
  border-radius: 22px;
  position: relative;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 2px;
}

a.uk-button.uk-button-default.button__inner.button__inner_filled {
  color: #FFFFFF;
}

a.uk-button.uk-button-default.button__inner.button__inner_empty {
  background-color: #ffffff;
  color: #BC9CFF;
}
