nav.uk-navbar-container(uk-navbar)
    div.uk-navbar-left
        img.header__logo(src="/res/img/Logo.svg")
    div.uk-navbar-right
        ul.uk-navbar-nav
            li.uk-navbar-item
                a(href="#") О нас
            li.uk-navbar-item
                a(href="#") Услуги
            li.uk-navbar-item
                a(href="#") Вакансии
            li.uk-navbar-item
                a(href="#") Соглашения
            li.uk-button.uk-button-default
                a(href="#") Войти
            li.uk-button.uk-button-default
                a(href="#") Зарегистрироваться
