nav.uk-navbar-container.header.header__navbar.header__navbar_white.header__navbar_shadowed(uk-navbar)
    div.uk-navbar-left.header.header__navbar
        img.header.header__logo(src="/res/img/Logo.svg")
    div.uk-navbar-right.header.header__navbar
        div.uk-navbar-nav.header.header__items
            include navItemGroup
            include navButtonGroup