nav.uk-navbar-container(uk-navbar)
    div.uk-navbar-left
        img.header__logo(src="/res/img/Logo.svg")
    div.uk-navbar-right
        include navbarNav
            include navItemGroup
            include navButtonGroup