li.uk-navbar-item.nav-item-group.nav-item-group__item
    a(href="#") О нас
li.uk-navbar-item.nav-item-group.nav-item-group__item
    a(href="#") Услуги
li.uk-navbar-item.nav-item-group.nav-item-group__item
    a(href="#") Вакансии
li.uk-navbar-item.nav-item-group.nav-item-group__item
    a(href="#") Соглашения