include anchor
li.uk-navbar-item.nav-item-group.nav-item-group__item
    +anchor("","О нас","#")
li.uk-navbar-item.nav-item-group.nav-item-group__item
    +anchor("dropdown","Услуги","#")
li.uk-navbar-item.nav-item-group.nav-item-group__item
    +anchor("","Вакансии","#")
li.uk-navbar-item.nav-item-group.nav-item-group__item
    +anchor("","Новости","#")
li.uk-navbar-item.nav-item-group.nav-item-group__item
    +anchor("dropdown","Соглашения","#")